.preview {
  width: 720px;
  height: 405px;
  border: 1px solid #000;
}

.cvsPreview {
  width: 720px;
  height: 405px;
}


.frame {
  
}

.addFrame {
  width: 100px;
  height: 100px;
  border: none;  
  display: inline-block;
  background: #F5F5F5;
  cursor: pointer;
  -moz-box-shadow: 0 1px 2px #bbb;
  -webkit-box-shadow: 0 1px 2px #bbb;
  box-shadow: 0 1px 2px #bbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 15px;
  margin-left: 10px;
}

.responsive-container {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  overflow: hidden;
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center; 
}

.img-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
